.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
  padding-bottom: 20px;
  min-width: 120px;
  width: 100%;
}

.header_justified {
  justify-content: space-between;
}

.header_end {
  justify-content: flex-end;
}

.header__close {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.header__close:hover {
  opacity: 0.8;
}
