:root {
  --text-primary: #f2f2f3;
  --text-secondary: #8585ad;
  --max-content-width: 1240px;
  --scroll-bg: #2f2f37;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--text-primary);
  scrollbar-width: 8px !important;
  scrollbar-color: #8585ad #2f2f37;
  scroll-margin: 0;
}

*::-webkit-scrollbar-button {
  display: none !important;
}

body {
  background: #131316;
}

li {
  list-style: none;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
